body {
  font-family: Arial, sans-serif;
  background-color:#000000;
  color: white;
}
header {
  width: 100%;
}

#header-image {
  width: 100%;
  height: auto;
}
h1{
  font-size: 50px;
}
div{
font-weight: bold ;
  font-size:  25px;
}
/* Add or update these styles in your styles.css */
nav {
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  font-size: calc(2rem + 2vw);
}

nav li {
  margin: 0.5rem 1rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.yellow {
  color: #ffdd00;
}

.green {
  color: #33cc33;
}

.red {
  color: #ff3333;
}


/* Responsive behavior for smaller screens */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  nav li {
    margin: 0.5rem 0;
  }
}
.green2{
  color: #003e29;
}